/* link stuff */

a:link, a:visited {
  /*background-color: white;*/
  color: white;
  /*padding: 14px 25px;*/
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  /*background-color: grey;*/
  padding-left: 10px;
  /*color: grey;*/
}


/* paragraph and header stuff */

h1 {
    color: white;
    font-family: Courier New;
    letter-spacing: 2px;
    left: 10%;
    padding-left: 10px;
    font-size: 24px;
    text-align: left;
    position: relative;
    width: 20%;
    /*display: inline;*/
}

p {
    font-family: Courier New;
    font-size: 20px;
    color: white;
    left: 10%;
    text-align: left;
    position: relative;
    width: 50%;
}