.dropdown {
    height: 100%; /* 100% Full-height */
    width: 50%; 
    height: 0px; /* 0 height - change this with JavaScript */
    z-index: 1; /* Stay on top */
    background-color: rgb(43, 31, 35); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the dropdown */
}


.dropcontainericon {
	z-index: 2;
	cursor: pointer;
	position:absolute;
	margin: 17px 15px;
	width:25px;
	height:25px;
	transition: .3s;
}

.dropcontainericon.open {
	transform: rotate(90deg);
}

.dropcontainer {
	margin: 38px 5%;
	height: 0px;
	margin-top: 20px;
	cursor: pointer;
	transition: .5s;
	z-index: 3;
	position:relative;
	width:75%; height:25px;
}


.dropcontainer.open1{
	margin-bottom: 738px;
}

.dropcontainer.open{
	margin-bottom: 288px;
}


.dropdown.open {
	margin-bottom: 250px;
}

/* The navigation menu links */
.dropdown a {
    padding: 8px 8px 8px 100px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.dropdown a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.dropdown .closebtn {
    position: absolute;
    top: 10px;
    left: -5px;
    font-size: 36px;
    margin-left: 5px;
}

#myDropdownNav a:hover {
	font-size: 72;
}

#myDropdownNav {
	cursor: default;
}

#myDropdownNav p {
	cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    padding: 20px;
}