
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betting game</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .hidden {
      display: none
    }
  </style>
</head>
<body>
  <h1>GAMBLE</h1>
  <p id="game-message">Start the bettin</p>
  <button id="call">Call</button>
  <button id="fold">Fold</button>
  <script src="{{ .Site.BaseURL }}js/toygame.js"></script>
</body>
</html>

