<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!--   <meta charset="UTF-8"> -->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--   <title>Fifteen game</title> -->
<!-- </head> -->
<!-- <body> -->
<!--     <div style="text-align: center;"> -->
<!--   <canvas id="gameCanvas" width="200" height="200" tabindex="0" style="margin:20px auto;border:1px solid #000000;display:block"></canvas> -->
<!--   <button id="restartGame">Reestart</button> -->
<!--   <label> -->
<!--       <input type="checkbox" id="reverseToggle"> -->
<!--       Reverse controls -->
<!--   </label> -->
<!--     </div> -->
<!--     <div id="game-config" -->
<!--         data-size="{{ .Get "size" }}" -->
<!--         data-default-setup="{{ .Get "default-setup" }}"> -->
<!--     </div> -->
<!---->
<!--   <script src="{{ .Site.BaseURL }}js/random_sample_game.js"></script> -->
<!-- </body> -->
<!-- </html> -->
<!---->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Probabilistic Game</title>
  </head>
  <body>

	<!--    <p> -->
	<!-- If the computer does not play optimally, then it rolls again if the first roll was below $\frac 1 2$. -->
	<!--    </p> -->

    <div class="row">
      <label for="cutoffSlider">Choose a value for $r$ (between $0$ and $1$):</label>
      <input
        id="cutoffSlider"
        type="range"
        min="0"
        max="1"
        step="0.01"
        value="0.50"
      />
      <input id="cutoffInput" type="text" value="0.50" />
    </div>

	<div class="row">
		<label for="computerPlaysOptimal">Computer plays optimally:</label>
		<input id="computerPlaysOptimal" type="checkbox" checked />
	</div>

    <div class="row">
      <button id="startButton">Run 10,000 sims</button>
      <button id="resetButton">Reset</button>
    </div>

    <div id="output">
		Press the run sims button to run $10{\small ,}000$ iterations of the game to test out your strategy.
    </div>

    <!-- <script type="module" src="./main.js"></script> -->
	<script src="{{ .Site.BaseURL }}js/random_sample_game.js"></script>
  </body>
</html>
